
        <div class="row">
            <div class="col-md-12">
                <h1>TUS BODEGAS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-controller="modals">
                <a class="btn btn-info btn-lg" ng-click="open('lg','../menu/vista_agregar_bodega')">Crear Nueva Bodega<i class="fa fa-fw fa-plus-circle"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
            </div>
        </div>
