
    <div ng-controller="modals" class="modal-demo">
  
     

        <button type="button" class="btn btn-default" ng-click="open('lg' ,'../menu/vista2')">Large modal</button>
        <button type="button" class="btn btn-default" ng-click="open('sm' ,'../menu/vista2')">Small modal</button>
    
    
    </div>

    