<div class="well-lg">
    <div class="row">
        
                            <div class="well">
                                <h1 class="text-center">Nueva Bodega</h1>
                                <hr>
                                <form role="form">
                                    <div class="form-group">
                                        <label class="control-label" for="exampleInputEmail1">Email address</label>
                                        <input class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="exampleInputPassword1">Password</label>
                                        <input class="form-control" id="exampleInputPassword1"
                                               placeholder="Password" type="password">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg btn-success">Crear</button>
                                </form>
                            </div>
                  
    </div>

</div>
