<div>
    <form name="mainForm" data-ng-submit="login()" data-ng-controller="login" ng-model="logins">
        @using (Html.BeginForm("login", "login"))
        {<div flex layout-padding ng-show="respuesta.aviso">{{respuesta.aviso}}</div>

        <p>
            <h3>Correo electronico</h3>
            <input type="text" class="form-control" id="correo_electronico_persona" placeholder="Correo electronico" ng-model="logins.correo_electronico_persona" />
        </p>
        <p>
            <h3>Contraseña:</h3>
            <input type="password" class="form-control" id="clave_persona" placeholder="Contraseña" ng-model="logins.clave_persona" />
        </p>
        <p> <input type="submit" value="ingresar" /></p>
        }
    </form>
</div>